<%=form_with model: @user do |form| %>
   
    
    <div class="field">
        <%= form.label :name %><br />
        <%= form.text_field :name ,class: 'form-control border-warning'%>
    </div>
   
    <div class="field">
        <%= form.label :avatar %><br />
        <%= form.file_field :avatar  %>
        
    </div>
    <div>
      <%= form.submit "save",class: "btn btn-sm btn-outline-primary"%>

    </div>



<%end%>